# Trained models & embeddings
Backend/model/
model/
chunks.pkl
faiss.index

# FAISS + pickled corpus
*.index
*.faiss
*.pkl
*.db
*.db-*
*.sqlite
*.sqlite3

# PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
Backend/venv/
.env
*.env.local

#  FRONTEND
node_modules/
dist/
build/

#  OS / SYSTEM FILES
.DS_Store
Thumbs.db
desktop.ini

#  EDITORS / IDE
.vscode/
.idea/

# ALLOW SOURCE CODE
!Frontend/
!Backend/
!.gitignore
!README.md
